<link rel="prerender" href="$(Genie.Router.link_to(:start))">
<div class="center-parent">
  <div class="homepage-flexbox">
    <h1>Postcard</h1>
    <p>
      <span class="padded-span">Package your Celeste mods with ease!&emsp;</span>
      <a href="$(Genie.Router.link_to(:start))"><span class="nes-btn is-success">Start</span></a><br />
    </p>
    <div id="discordInviteBox"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/Aegis7Gaming/Discord-Invite-JS-HTML-CSS@9f472fccda3029493d2a1a5028cb43e50dba7adb/discordInvite.js"></script>
<script>
  discordInvite.init({
    inviteCode: 'vkfvRTA',
    title: 'Mt. Celeste Climbing Association',
  });
  discordInvite.render();
</script>
