<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Postcard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Aegis7Gaming/Discord-Invite-JS-HTML-CSS@9f472fccda3029493d2a1a5028cb43e50dba7adb/discordInvite.css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/nes.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%
      @yield
    %>
  </body>
</html>
