html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

.center-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.center-inline {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

.homepage-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-flexbox * {
    text-align: center;
}

.padded-span {
    padding-right: 1rem;
}

.done #form {
    display: none;
}

.finished-screen {
    display: none;
}

.done .finished-screen {
    display: initial;
}

#checkpoint:not(.finished) {
    width: 720px;
    height: 480px;
    user-select: none;
    mask-image: url(../mask.png);
}

html, body {
    width: 100%;
    height: 100%;
}
